<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cssGeral.css') }}">
    <title>Código</title>
</head>
<body>
    <header><img src="{{ url_for('static', filename='img/logo.png') }}" alt="Minha Imagem"></header>
    <h1>Matrícula: {{matricula}} <br>Código: {{codigo}}</h1>
    <button onclick="window.location.href = '/mesario'">Retornar para Tela de Mesário</button>
    
</body>
</html>