<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cssGeral.css') }}">
    <title>Código</title>
</head>

    <header><img src="{{ url_for('static', filename='img/logo.png') }}" alt="Minha Imagem"></header>
    <div name = "alinhamento">
        <label id="fraseDeEfeito">Matrícula: {{matricula}} <br>Código: {{codigo}}</label><br>
        <button onclick="window.location.href = '/mesario'" name="submit">Retornar </button>
    </div>
    
</body>
</html>