<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votar</title>
</head>
<body>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <table>
            <tr>
                <td><label for="matricula">Matrícula: </label></td>
                <td><input type="text" name="matricula" id="matricula"></td>
            </tr>
            <tr>
                <td><label for="codigo">Código: </label></td>
                <td><input type="text" name="codigo" id="codigo"></td>
            </tr>
            <tr>
                <td><select name="voto" id="voto">
					<option value="1">Maria</option>
					<option value="2">José</option>
					<option value="3">Fábio</option>
					<option value="4">Claúdia</option>
                </select></td>
            </tr>
        </table>
        
        
        
        
        <input type="submit" value="submit" name="submit">
    </form>
</body>
</html>
