<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cssGeral.css') }}">
    <title>Document</title>
</head>
<body>
    <header><img src="{{ url_for('static', filename='img/logo.png') }}"></header>
    <form action="/codigo" method="post" enctype="multipart/form-data">
        <h2>Gere aqui o código para o eleitor!</h2>
        <table>
            <tr>
                <td><label for="matricula">Matrícula: </label></td>
                <td><input type="text" name="matricula" id="matricula" placeholder="Matrícula"></td>
            </tr>
        </table>
        
        
        
        
        <input type="submit" value="Gerar código" name="submit">
    </form>
</body>
</html>